{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Accept Offer</h1>
Please accept or refuse our offer below

<form action="/rebuy/confirm" method="POST">

    <input type="submit" name="accept_button" value="Accept" />
    <input type="submit" name="refuse_button" value="Refuse" />
</form>
{%endblock %}