{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}
{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Check Orders</h1>



<table class="table">
    <tr>
        <th scope="col">Order Id</td>
        <th scope="col">Device Model</td>
        <th scope="col">Device Storage</td>
        <th scope="col">Device Connection</td>
        <th scope="col">Device Condition</td>
        <th scope="col">Check Order</td>





    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>
        <td>{{ result.device_model }}</td>
        <td> {{result.storage_type_name}}</td>
        <td>{{result.connection_type_name}}</td>
        <td>{{result.device_condition_id}}</td>
        <td><a href="{{result.order_id}}/check">Check</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}