{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy Check Submit {% endblock %}

{% block body %}
<h1>Check Result</h1>






<h3>
    <a href="inspect"> go to inspection</a></h3>
{% endblock %}