{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Thank you</h1>

<p> Thank you for confirming your choice</p>

{% endblock %}