{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}
{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Rebuy</h1>

welcome {{username}}
 {#
  {% if user_department=="rebuy" and user_role!="manager" %}
<nav>


        <a href="/rebuy">Index</a>|
        <a href="/rebuy/overview">Overview</a>
        <a href="/rebuy/checkorders">Check</a>|
        <a href="/rebuy/status">Status</a>|
        <a href="/rebuy/inspection">Inspection</a>|
        <a href="/rebuy/quoteorders">Quote</a>|
        <a href="/rebuy/mail">Mail</a>|
        <a href="/rebuy/edit">Order Edit</a>|
        <a href="/rebuy/reports">Reports</a>|
        <a href="/rebuy/enterorder">Enter Test Orders</a>|


</nav>
{% endif %}
{% if user.department!= "rebuy" and user.role!="administrator" %}
 <h3>You are not authorized to see this page</h3>
{% endif %}

{% if user.role=="manager" %}
<nav>
    
    <a href="/rebuy">Index</a>|
    <a href="/rebuy/status">Status</a>|
    <a href="/rebuy/inspect">Inspection</a>|
    <a href="/rebuy/mail">Mail</a>|
    <a href="/rebuy/edit">Order Edit</a>|
    <a href="/rebuy/reports">Reports</a>|
</nav>
{% endif %}
{% if user.department=="customer support" %}
<nav>

    <a href="/rebuy">Index</a>|
    <a href="/rebuy/status">Status</a>|
    <a href="/rebuy/mail">Mail</a>|
    <a href="/rebuy/edit">Order Edit</a>|
</nav>

{% endif %} #}


<h2> Orders by status</h2>

<table class="table">
    <tr>
        <td>Order Id</td>

        <td>Customer Status</td>
        <td>Forza Status</td>
        <td>Action</td>


    </tr>
    {% for results1 in results2 %}

    <tr>
        <td>{{ results1.order_id }}</td>

        <td>{{results1.cust_status_name}}</td>
        <td>{{results1.status_name}}</td>
        <td>{{results1.action_name}} </td>
    </tr>
    {% endfor %}



</table>
{% endblock %}