{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Inspection</h1>



<table class="table">
    <tr>
        <td>Order Id</td>
        <td>Device Model</td>

        <td>Device Condition</td>
        <td>Inspect Order</td>





    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>
        <td>{{ result.device_model }}</td>

        <td>{{result.condition_name}}</td>
        <td><a href="{{result.order_id}}/inspect">Inspect device</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}