{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Inspection Results {% endblock %}

{% block body %}

<h3>Inspection submitted successfully</h3>

<table class="table">
    <tr>
        <td>Device Type</td>
        <td>Device Storage</td>
        <td>Device Connection</td>
        <td>Device Condition</td>
        <td>Device Colour</td>
        <td>Device Comments</td>





    </tr>
{% for result in results %}

<tr>
   <td>{{result.device_model}}</td>
    <td>{{result.storage_type_name}}</td>
    <td>{{result.connection_type_name}}</td>
    <td>{{result.condition_name}}</td>
    <td>{{result.colour_name}}</td>
    <td>{{result.device_comments}}</td>









</tr>

{% endfor %}

</table>


{% endblock %}