{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Quote Orders</h1>



<table class="table">
    <tr>
        <td>Order Id</td>
        <td>Device Model</td>
        <td>Device Storage</td>
        <td>Device Connection</td>
        <td>Device Condition</td>
        <td>Forza Status</td>
        <td>Set Quote</td>





    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>
        <td>{{ result.device_model }}</td>
        <td> {{result.storage_type_name}}</td>
        <td>{{result.connection_type_name}}</td>
        <td>{{result.device_condition_id}}</td>
        <td>{{result.status_name}}</td>
        <td><a href="{{result.order_id}}/quote">Quote</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}