{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Send Email</h1>


<br />
<br />
<table class="table">
    <tr>
        <td>Order Id</td>
        <td>Device Model</td>
        <td>Device Storage</td>
        <td>Device Connection</td>
        <td>Device Condition</td>
        <td>Quote</td>
        <td>Customer Email</td>







    </tr>
    {# {% for result in results %} #}

    <tr>
        <td>{{ results.order_id }}</td>
        <td>{{ results.device_model }}</td>
        <td> {{results.storage_type_name}}</td>
        <td>{{results.connection_type_name}}</td>
        <td>{{results.condition_name}}</td>
        <td>{{results.order_quote}}</td>
        <td>{{results.customer_email}}</td>

    </tr>
    {# {% endfor %} #}
</table>
<br />


<form action="/rebuy/{{ results.order_id }}/mailsent" method="post" enctype="multipart/form-data">

    <h2>Send Mail to Client</h2>
    <p>Your  Name* <br />
        <input type="text" name="name" id="name" required />
    </p>

    <p>Your Email* <br />
        <input type="email" name="email" id="email" required />
    </p>
    <p>Email title <br />
        <input type="text" name="title" id="title" required />
    </p>
    <p>Email body <br />
        <textarea name="msg" id="msg" rows="4" cols="50" required ></textarea>
    </p>

    <input type="submit" name="submit" />
</form>

{% endblock %}