{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy Submit {% endblock %}
{% block body %}
<h1>Enter second quote</h1>


<table class="table">
    <tr>
        <td>Order Id</td>
        <td>Device Model</td>
        <td>Device Storage</td>
        <td>Device Connection</td>
        <td>Device Condition</td>
        <td>Second Offer</td>
        <td>Send Mail</td>







    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>
        <td>{{ result.device_model }}</td>
        <td> {{result.storage_type_name}}</td>
        <td>{{result.connection_type_name}}</td>
        <td>{{result.condition_name}}</td>
        <td>{{result.second_quote}}</td>
        <td><a href="http://forza-refurbished.co.uk/erp/rebuy/{{result.order_id}}/sendsecoffer">Send Offer</a></td>

    </tr>
    {% endfor %}
</table>
<br />





{% endblock %}